*{
  box-sizing: border-box;
}
body {
  background-color: lightgray;
}
.title{
  display: flex;
  justify-content: center;
}
.cards{
  display: grid;
 justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  //gap: 30px 30px ;
  
}
.dog{
  background-color: #f06292;
  width: 500px;
  border-radius: 20px;
  margin-top: 40px;
}
.dog h3,p{

  margin-left: 20px;
}
img{
  border-radius: 20px;
  width: 500px;
  height: 330px;
 object-fit: cover;
}
.addNewItem{
  margin: 70px;
}
button{
  margin: 20px;
}